@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
/* Pick the relevant colors here: https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima */
:root {
  --ifm-color-primary-lightest: #2f58db;
  --ifm-color-primary-lighter: #224ac9;
  --ifm-color-primary-light: #2146c1;
  --ifm-color-primary: #1e40af;
  --ifm-color-primary-dark: #1b3a9d;
  --ifm-color-primary-darker: #193695;
  --ifm-color-primary-darkest: #152d7b;
  --ifm-link-color: #1e6ff5;
  --ifm-menu-color: #6b7280;
  --ifm-toc-link-color: #94a3b8;
  --ifm-menu-color-background-active: #dbeafe;
  --ifm-code-background: #eff6ff;

  --no-color: #ea580c;

  --hr-color: #e5e7eb;
  --feedback-yes-color: #2563eb;
  --feedback-no-color: var(--no-color);
}

/* dark theme variables */
html[data-theme='dark'] {
  --ifm-color-primary-lightest: #fba365;
  --ifm-color-primary-lighter: #fa8b3e;
  --ifm-color-primary-light: #fa8330;
  --ifm-color-primary: #f97316;
  --ifm-color-primary-dark: #ee6506;
  --ifm-color-primary-darker: #e15f06;
  --ifm-color-primary-darkest: #b94f05;

  --ifm-heading-color: #fff;

  --ifm-link-color: #fb923c;

  --ifm-toc-link-color: #fff7ed;

  --ifm-menu-color: #fff7ed;
  --ifm-menu-color-active: #fb923c;
  --ifm-menu-color-background-active: #383838;

  --ifm-code-background: #605c5c;

  --no-color: #f97316;

  --hr-color: #334155;
  --feedback-yes-color: #3b82f6;
  --feedback-no-color: var(--no-color);
}

/* All the relevant class names can be found here: https://docusaurus.io/docs/styling-layout#theme-class-names */

p,
h1,
h2,
h3,
h4,
h5,
h6,
.theme-doc-markdown,
.pagination-nav__label,
.pagination-nav__sublabel,
.theme-edit-this-page,
.theme-last-updated,
.theme-doc-toc-desktop {
  @apply font-inter;
}

.table-of-contents__link {
  @apply text-sm;
}

.theme-doc-markdown .feedback-divider {
  border-color: var(--hr-color);
  @apply rounded-lg border border-solid;
}

.theme-doc-markdown .feedback-button,
.cookie-button {
  @apply flex w-full cursor-pointer appearance-none flex-row items-center justify-evenly rounded-lg border-2 border-solid bg-transparent px-6 py-1 text-lg font-semibold transition-all hover:-translate-y-px hover:shadow-md active:translate-y-0 active:shadow-none;
}

.theme-doc-markdown .feedback-button-yes,
.cookie-button-yes {
  @apply border-[color:var(--feedback-yes-color)] text-[color:var(--feedback-yes-color)] hover:shadow-[color:var(--feedback-yes-color)];
}

.theme-doc-markdown .feedback-button-no {
  @apply border-[color:var(--feedback-no-color)] text-[color:var(--feedback-no-color)] hover:shadow-[color:var(--feedback-no-color)];
}

[aria-label='animation'] {
  @apply m-0 !important;
}

.table-of-contents__link--active {
  color: var(--no-color) !important;
}

.theme-last-updated {
  @apply not-italic;
}

.hero__subtitle {
  color: var(--ifm-heading-color) !important;
}

.footer__title,
.footer__item,
.footer__copyright {
  @apply font-inter;
}

.token-line,
code {
  @apply font-fira-code;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-doc-markdown img,
.theme-doc-markdown video {
  @apply my-5 shadow-xl shadow-blue-200/90;
}

html[data-theme='dark'] .theme-doc-markdown img,
.theme-doc-markdown video {
  @apply my-5 shadow-lg shadow-orange-500;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
