@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
/* Pick the relevant colors here: https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima */
:root {
  --ifm-color-primary-lightest: #19938e;
  --ifm-color-primary-lighter: #16827d;
  --ifm-color-primary-light: #157c78;
  --ifm-color-primary: #13716d;
  --ifm-color-primary-dark: #116662;
  --ifm-color-primary-darker: #10605d;
  --ifm-color-primary-darkest: #0d4f4c;
  --ifm-link-color: #059669;
  --ifm-menu-color: #6b7280;
  --ifm-toc-link-color: #94a3b8;
  --ifm-menu-color-background-active: #ecfdf5;
  --ifm-code-background: #f0fdfa;

  --plum-color: #ba0d49;

  --hr-color: #e5e7eb;
  --feedback-yes-color: #13716d;
  --feedback-no-color: var(--plum-color);
}

/* plum: #ba0d49,
plum-light: #dd105a,
plum very light: #f8cdbe7,
 */

/* dark theme variables */
html[data-theme="dark"] {
  --ifm-color-primary-lightest: #f784b4;
  --ifm-color-primary-lighter: #f45b9b;
  --ifm-color-primary-light: #f34d93;
  --ifm-color-primary: #dd2572;
  --ifm-color-primary-dark: #ef1771;
  --ifm-color-primary-darker: #e8106a;
  --ifm-color-primary-darkest: #bf0d57;

  --ifm-heading-color: #fff;

  --ifm-link-color: #ff227e;

  --ifm-toc-link-color: #ced2d8;

  --ifm-menu-color: #e2dfdf;
  --ifm-menu-color-active: #f0287c;
  --ifm-menu-color-background-active: #383838;

  --ifm-code-background: #605c5c;

  --plum-color: #e4467d;

  --hr-color: #334155;
  --feedback-yes-color: #38b8b1;
}

/* All the relevant class names can be found here: https://docusaurus.io/docs/styling-layout#theme-class-names */

p,
h1,
h2,
h3,
h4,
h5,
h6,
.theme-doc-markdown,
.pagination-nav__label,
.pagination-nav__sublabel,
.theme-edit-this-page,
.theme-last-updated,
.theme-doc-toc-desktop {
  @apply font-inter;
}

.theme-doc-markdown img,
.theme-doc-markdown video {
  @apply my-5 shadow-lg shadow-teal-800/50;
}

.theme-doc-markdown .feedback-divider {
  border-color: var(--hr-color);
  @apply border border-solid rounded-lg;
}

.theme-doc-markdown .feedback-button {
  @apply flex flex-row items-center w-full px-6 py-1 text-lg font-semibold transition-all bg-transparent border-2 border-solid rounded-lg appearance-none cursor-pointer hover:shadow-md hover:-translate-y-px active:shadow-none active:translate-y-0 justify-evenly;
}

.theme-doc-markdown .feedback-button-yes {
  @apply text-[color:var(--feedback-yes-color)] border-[color:var(--feedback-yes-color)] hover:shadow-[color:var(--feedback-yes-color)];
}

.theme-doc-markdown .feedback-button-no {
  @apply text-[color:var(--feedback-no-color)] border-[color:var(--feedback-no-color)] hover:shadow-[color:var(--feedback-no-color)];
}

[aria-label="animation"] {
  @apply m-0 !important;
}

.table-of-contents__link--active {
  color: var(--plum-color) !important;
}

.theme-last-updated {
  @apply not-italic;
}

.hero__subtitle {
  color: var(--ifm-heading-color) !important;
}

.footer__title,
.footer__item,
.footer__copyright {
  @apply font-inter;
}

.token-line,
code {
  @apply font-fira-code;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
